/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
================================================================================ */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html {
    font-size: 100%;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-size: medium; /* 16px */
    line-height: 1.5em; /* 24px */
    background: #fff;
}

body, button, input, select, textarea {
    font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    color: #545861;
    font-weight: normal;
}


/* =============================================================================
   Stabilize padding for Fliud Grid
================================================================================ */

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Polyfill for Non-Supporting Browsers */
    behavior: url(../boxsizing.htc);
}



/* =============================================================================
   Color Key
================================================================================ */

/* primary_color: #d42b1e; */
/* secondary_color: #35c0e2; */
/* tertiary_color: #fff; */


::-moz-selection {
    background: #d42b1e;
    color: #fff;
    text-shadow: none;
}
::selection {
    background: #d42b1e;
    color: #fff;
    text-shadow: none;
}


/* =============================================================================
   Links
   ========================================================================== */

a { color: #d42b1e; text-decoration: none; }
a:visited { color: #d42b1e; }
a:hover, a:focus { text-decoration: none; color: #35c0e2; cursor: pointer; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active, a:focus { outline: 0; }



/* =============================================================================
   Button Styles
================================================================================ */

/* General Button Styles */

a.button,
input[type=button],
input[type=submit] {
    display: block;
    cursor: pointer;
    padding: .4em 1.75em;
    margin: 1em 0;
    text-align: center;
    font-family:'Avenir LT W01 65 Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1;
    color: #555;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.1);
    -webkit-border-radius: .25em;
    -moz-border-radius: .25em;
    border-radius: .25em;
    /* -moz-text-shadow: 0 1px 0 #fff;
    -webkit-ext-shadow: 0 1px 0 #fff;
    text-shadow: 0 1px 0 #fff;
    -moz-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.5); */
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.5);
}

a.button:hover { text-shadow: none;	}

a.button:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
}


/* Specific Button Styles */

a.grey,
input.grey {
    background: rgb(254,254,254); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(236,236,236,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(100%,rgba(236,236,236,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(236,236,236,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(236,236,236,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(236,236,236,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(236,236,236,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ececec',GradientType=0 ); /* IE6-8 */
}

a.grey:hover,
input.grey:hover {	background: #f3f3f3; }

a.red,
input.red {
    color: #fff;

    -moz-text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    -o-text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    -webkit-text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    text-shadow: 0 -1px 0 rgba(0,0,0,.25);

    background: #e13827; /* Old browsers */
    background: -moz-linear-gradient(top,  #e13827 0%, #c61d15 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e13827), color-stop(100%,#c61d15)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e13827 0%,#c61d15 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e13827 0%,#c61d15 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e13827 0%,#c61d15 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e13827 0%,#c61d15 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e13827', endColorstr='#c61d15',GradientType=0 ); /* IE6-8 */
}

a.red:hover,
input.red:hover  {
    background: #e13827;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
}
a.blue,
input.blue {
    color: #fff;
    text-shadow: none;

    background: rgb(70,212,235); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(70,212,235,1) 0%, rgba(38,174,218,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(70,212,235,1)), color-stop(100%,rgba(38,174,218,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(70,212,235,1) 0%,rgba(38,174,218,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(70,212,235,1) 0%,rgba(38,174,218,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(70,212,235,1) 0%,rgba(38,174,218,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(70,212,235,1) 0%,rgba(38,174,218,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46d4eb', endColorstr='#26aeda',GradientType=0 ); /* IE6-8 */

}
a.blue:hover,
input.blue:hover { background: #35c0e2; }

input.blue:active {
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -o-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 3px rgba(0,0,0,.5);
}

/* split buttons */
a.button.split{
	position: relative;
	padding-left: 66px;
}

a.button.height-lg{ height: 50px; padding: 0; line-height: 50px; }
a.button.height-sm{ }
a.button{ height: 40px; padding: 0; line-height: 40px; width: 360px; }
a.button.wide{ width: 460px; }

/*
a.button.split span {
	position: absolute;
	left: 0;
	height: 100%;
	padding: .75em;
	border-right: 1px solid rgba(0,0,0,.25);
	box-shadow: 1px 0 0 rgba(255,255,255,.25);
}

a.button.split em {
	padding-left: 2.5em;
	line-height: 2.4;
	font-style: normal;
}
*/

/* =============================================================================
   Typography
================================================================================ */

/* Primary Typeface
* Our Primary Brand Typeface is Avenir
* We are a hosted web solution for Avenir due to font liscensing restrictions: http://www.fonts.com/font/linotype/avenir?SortColumn=name_ascending&QueryFontType=Web&SortDirection=Ascending&page=1#product_top
*/

.primary-font_thin {
    font-family:'Museo', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

 .primary-font_med {
    font-family:'Avenir LT W01 65 Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.primary-font_heavy {
    font-family:'Avenir LT W01 85 Heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

.primary-font_black {
    font-family:'Avenir LT W01 95 Black', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}


/* Secondary Typeface
*  Our Secondary Brand Typeface is Museo
*  Museo is a font by Jos Buivenga (exljbris) -> www.exljbris.com
*/

.secondary-font {
    font-family: 'Museo', sans-serif;
    font-weight: 500;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before,
a [data-icon]:before {
    font-family: 'icon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/* Make sure Inline <i> element default styling doesn't affect anything */
i[class*=" icon-"] { font-style: normal; }

/* /End Custom Fonts */


h1, h2, h3, h4, h5, h6 {
    width: 100%;
    display: block;
    margin: 0 0 .5em;
    letter-spacing: -.025em;
    font-weight: normal;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; line-height: 1em; }
h1 { font-size: 300%; line-height: 120% }
h2 { font-size: 260%; line-height: 110%;  }
h3 { font-size: 140%; line-height: 100% }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 100%; }

p, li p, span { font-size: 100%; }

.subheader { font-weight: 300; margin-bottom: 1em; }

p { margin: 0 0 1em; }

em, i { font-style: italic; line-height: inherit; }

b, strong { font-weight: 600; }

abbr[title] { border-bottom: 1px dotted; }

abbr, acronym { text-transform: uppercase; font-size: 90%; color: #222; border-bottom: 1px solid #ddd; cursor: help; }

abbr { text-transform: none; }

/*	Blockquotes  */
blockquote {
    border-left: .5em solid #ccc;
    margin-left: 0;
}

blockquote p {
    line-height: 1.25em;
    padding-left: 1em;
}

blockquote cite { display: block; font-size: 12px; font-size: 1.2rem; color: #555; }

blockquote cite:before { content: "\2014 \0020"; }

blockquote cite a, blockquote cite a:visited { color: #555; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }

q:before, q:after { content: ""; content: none; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
    position: relative;
    vertical-align: baseline;
    padding-right: .15em;
    font-size: 55%;
    font-weight: bold;
    line-height: 0;
    letter-spacing: -.05em;
}

sup { top: -0.5em; }

sub { bottom: 0; }


/* Font Colors */
.red, span.red { color: #d42b1e; }
.cyan, span.cyan { color: #35c0e2; }
.inner-b-red-primary-font_heavy b {
    color: #d42b1e;
    font-family:'Avenir LT W01 85 Heavy', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: normal;
}

/* Font Weights */
.thin { font-weight: 300; }
.bold { font-weight: 700; }

/* Font Sizes */
.small { font-size: 70%; }
.med { font-size: 85%; }

/* Other Font Styles */
.cap { text-transform: uppercase; }


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7.
 */

form {
    margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
    color: #999;
    outline: none;
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */

button,
html input[type="button"], /* 1 */
html input[type="submit"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/*
 * Style for input text type
*/


input[type="email"],
input[type="tel"],
input[type="text"],
input[type="password"] {
    border: 1px solid #CFCFCF;
    border-radius: 0.25em 0.25em 0.25em 0.25em;
    color: #4F4F4F;
    font-size: 1em;
    font-weight: normal;
    height: 2em;
    padding: 0.25em;
    position: relative;
}


/*
 * Re-set default cursor for disabled elements.
 */

button[disabled],
input[disabled] {
    cursor: default;
}

input[disabled] + label {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}



/* =============================================================================
   Lists
   ========================================================================== */

dd { margin: 0 0 0 1em; }
nav ul, nav ol {
    list-style: none;
    list-style-image: none;
    margin: 0; padding: 0;
}



/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img {
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
    height: auto;
    margin: 0;
}

/*  Fluid image class */
img .flex {
    max-width: 100%;
    height: auto !important;
}


/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }



/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }



/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; margin: 0; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }



/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }



/* =============================================================================
   Sections
   ========================================================================== */

/* Containers */

.content_container {
  width: 92%;
  margin: 0 auto;
  max-width: 1024px;
}

.section_container {
  width: 92%;
  margin: 0 auto;
  max-width: 1024px;
}


/* Content */

#primary,
#secondary {
    width: 100%;
    margin-bottom: 1em;
}



/*
 * Mobile-First
 *
 * The following css has be structured according to a mobile-first content strategy
 * Thus Mobile css is defined first, followed my Media Queries which define css using min-width
 *
 * Detailed information about this at: http://static.lukew.com/MobileFirst_LukeW.pdf
 *
 */



/* =============================================================================
   Header (Mobile)
   ========================================================================== */

header {
    width: 100%;
    background: #3d434a;
    margin-bottom: 1em;
}

nav ul li a {
    padding: .25em .5em;
    font-family:'Avenir LT W01 65 Medium', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-transition: color .25s ease-in;
    -moz-transition: color .25s ease-in;
    transition: color .25s ease-in;
}

#site-title { margin: 0;}

#site-title a {
    float: left;
    background: url(/static/image/responsive/sales_sprite@1x.png) no-repeat 0 3px;
    width: 77px;
    height: 42px;
    margin: .25em 0;
    /* Image Replacement */
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

#site-title a:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}





/* =============================================================================
   Mobile Navigation
   ========================================================================== */

nav#topMenu {
    /* Hide by Default */
    display: none;
    background: #3d434a;
    width: 100%;
}

nav#topMenu a {
    display: block;
    padding: 2% 4%;
    color: #fff;
    -webkit-transition: background .15s ease-in-out;
    -moz-transition: background .15s ease-in-out;
    transition: background .15s ease-in-out;
}

nav#topMenu a:hover, a:focus {
    cursor: pointer;
}

nav#topMenu li {
    border-bottom: 1px solid #4f5258;
    border-bottom: 1px solid rgba(0,0,0,.25);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.08);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.08);
    box-shadow: 0 1px 0 rgba(255,255,255,.08);
}

nav#topMenu a span {
    color: #fff;
    font-size: 70%;
    margin-right: .5em;
}

nav#topMenu a span:last-child { float: right; }


/*
* Target Specific Mobile Navigation Icons with :nth-child selectors to fine-tune spacing
* For more info on nth-child here: http://css-tricks.com/how-nth-child-works/
*/

/* Airport Info Icon */
nav#topMenu li:nth-child(2) span:first-child { margin: 0 1em 0 .3em; }

/* Access Pass Icon */
nav#topMenu li:nth-child(3) span:first-child { margin: 0 .4em 0 0; }

/* Self Care Icon */
nav#topMenu li:nth-child(4) span:first-child {
    margin: 0 .5em 0 0;
    font-size: 80%;
}

/* Self Care Icon */
nav#topMenu li:nth-child(5) span:first-child {
    margin-right: .4em;
    font-size: 80%;
}



/* =============================================================================
   Mobile Navigation Toggle Styles
   ========================================================================== */

nav#large_menu ul:first-child {
    display: block;
    margin: 0;
    color: #fff;
}

nav#large_menu ul:first-child li {
    border: none;
    box-shadow: none;

    /* Fix Box-Shadow from showing up on iPad2 */
    -webkit-box-shadow:  none;
}

nav#large_menu ul li:hover p {
    color: #35c0e2;
    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

nav#large_menu ul:first-child p {
    display: inline-block;
    float: left;
    margin: 1.25em .25em 0;
}

a#menu-toggle_btn {
    float: right;
    background: #2d3237;
    padding: .7em .05em .5em .15em;
    width: 40px;
    height: 40px;
    margin-top: 1em;
    border: 1px solid #4f5258;
    border: 1px solid rgba(255,255,255,.25);
    cursor: pointer;
    text-align: center;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}

a#login-toggle_btn {
    float: right;
    background: #2d3237;
    width: 40px;
    height: 40px;
    padding: .7em .05em .5em .15em;
    margin: 1em .5em 0 0;
    border: 1px solid #4f5258;
    border: 1px solid rgba(255,255,255,.25);
    cursor: pointer;
    text-align: center;
    -moz-border-radius: .4em;
    -webkit-border-radius: .4em;
    border-radius: .4em;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);
}



/* =============================================================================
   Large-Res Device Navigation
   ========================================================================== */

nav#large_menu ul {
    display: none;
    float: right;
    margin-top: .75em;
}

nav#large_menu ul li {
    float: left;
    margin-left: .25em;
    margin-bottom: .25em;
}

nav#large_menu ul a {
    margin-right: .25em;
    color: #fff;
    font-size: 85%;
    /* Fix Background on Seleced links in Mozilla */
    background: transparent;
}

nav#large_menu ul a:last-child { margin-right: 0; }
nav#large_menu ul li a:hover { color: #35c0e2; }


/*
* Additional List Icons
* Target Specific Info Section Icons with :nth-child selectors to fine-tune spacing
* For more info on nth-child here: http://css-tricks.com/how-nth-child-works/
*/

nav#large_menu span { margin-right: .25em; }


/* =============================================================================
   Log In Form (Mobile)
   ========================================================================== */

.login-form {
    /* Hide by Default */
    display: none;
    width: 92%;
    margin: 0 auto .5em;
}

.login-form input,
.login-form select {
    width: 100%;
    border: 1px solid #ccc;
    padding: .25em;
    height: 30px;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
}

/*
* 1. Select inputs can be tricky to modify consistently cross-browser with JS. Solution: Fall-back to default.
* 2. Remember: moz-appearance and webkit-appearance have been set to 'none'. Revert to Default.
* 3. Revert to Default for all versions of IE
*/

.login-form select {
    background: #fff url(/static/image/responsive/select_graphic.png) 101% center no-repeat;
}

/* Adjust for default select input override in Firefox  */
@-moz-document url-prefix() { .login-form select { background: #fff; } }

.ie .login-form select {
    background: #fff;
    background-image: none;
}


/* End of select input modification */


/* Adjust for default select input override in in IE  */

.login-form input[type=button],
.login-form input[type=submit] {
    border: none;
    font-size: 90%;
    padding: .4em 0;
    height: 29px;
}

.login-form p {
    float: left;
    width: 49%;
    margin: 0 0 .5em 0;
}

.login-form #username,
.login-form #password { margin-right: 2%; }



/* =============================================================================
   Intro (Mobile)
   ========================================================================== */

#intro {
    width: 100%;
    float: left;
}

p#lrg_intro {
    /* Hide on Mobile Devices */
    display: none;
    font-weight: 200;
    padding-bottom: .5em;
    margin-bottom: .5em;
    border-bottom: 1px solid #ccc;
}

#intro hgroup h2 { font-size: 140%; overflow:hidden; }

/* Force Pointer on Price */
#intro hgroup h2 em:hover { cursor: pointer; }

#intro hgroup h3 {

    /* Hide on Mobile Devices */
    display: none;
    font-size: 110%;
    letter-spacing: .04em;
}

#intro hgroup h4 {
    margin-bottom: .15em;
    font-size: 120%;
}

p.price {
    margin: 0 0 .25em;
    font-size: 230%;
    line-height: 80%;
    letter-spacing: -.05em;
}

#main_cta a {
    margin: 0 0 .25em .5em;
    display: block;
    padding: .75em 0;
}

#main_cta { margin-bottom: 0;}
#intro footer { display: none; }


/* Addtional Info List (Mobile only) */

ul.additional {
    /* Hide by Default */
    display: none;
    width: 270px;
    margin: 0 auto;
    font-size: 80%;
    line-height: 130%;
    padding: 1em 0 0 1em;
}

ul.additional h5 {
    text-transform: uppercase;
    margin-bottom: 0;
}

ul.additional p { margin: 0; }

ul.additional li { margin: 0 0 1.75em; }


/*
* Additional List Icons
* Target Specific Info Section Icons with :nth-child selectors to fine-tune spacing
* For more info on nth-child here: http://css-tricks.com/how-nth-child-works/
*/


ul.additional li span {
    float: left;
    font-size: 200%;
    margin: .15em .5em .5em 0;
}

/* 10XFaster Icon */
ul.additional li:nth-child(3) span {
    margin: .4em .6em .75em -.25em;
    font-size: 120%;
}

/* No Contracts Icon */
ul.additional li:nth-child(4) span { margin-top: .1em; }

/* No Per-Minute Chareges Icon */
ul.additional li:nth-child(5) span { margin-top: -.25em; }


/* =============================================================================
   Highlight Content Slider
   ========================================================================== */

.flexslider,
.flex-direction-nav,
.flex-container { display: none; }


/*
* Image Slider Icons
* Target Specific Info Section Icons with :nth-child selectors to fine-tune spacing
* For more info on nth-child here: http://css-tricks.com/how-nth-child-works/
*/

.flexslider span {
    float: left;
    font-size: 200%;
    margin-top: -.15em;
    color: #a3a5ac;
}


/* =============================================================================
   Info Section (Mobile)
   ========================================================================== */

#info {
    /* Hide Info Section on Mobile/Tablet */
    display: none;
    position: absolute;
     /* Fixed Width Sidebar */
    width: 300px;
    top: 0;
    right: 0;
    background: #3d434a;
    background: rgba(0,0,0,.75);
    border-top: 4px solid #35c0e2;

    -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);

    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;
}

#info h3 {
    display: inline;
    position: absolute;
    top: .5em;
    right: -.3em;
    padding: .9em 1.15em 1.15em 2.5em;
    background: url(/static/image/responsive/sales_sprite@1x.png) no-repeat -40px -60px;
    width: 308px;
    height: 52px;
    font-size: 105%;
    text-shadow: 0.01em -0.03em .1em #333;
}

#info ul { padding: .5em 1em 0; }

#info li { margin-bottom: .5em; }

#info ul:nth-child(2) { margin-top: 4.75em; }



/*
* Info Section Icons
* Target Specific Info Section Icons with :nth-child selectors to fine-tune spacing
* For more info on nth-child here: http://css-tricks.com/how-nth-child-works/
*/

#info li span {
    margin: 0 .5em 0 0;
    color: #35c0e2;
    font-size: 140%;
}

/* Cafe Icon */
#info li:nth-child(2) span { font-size: 140%; }

/* Hotel Icon */
#info li:nth-child(3) span { margin: 0 .4em 0 .1em; }


/* =============================================================================
   Secondary (Mobile)
   ========================================================================== */

#secondary { margin-bottom: 1em; }

#secondary h4 {
    margin: 0;
    font-size: 120%;
    cursor: pointer;
}

#secondary p {
    width: 100%;
    float: left;
    font-weight: 200;
    line-height: 140%;
}

#secondary .subpod p:before {
    content: "";
    float: left;
    background: url(/static/image/responsive/sales_sprite@1x.png) no-repeat -422px 0;
    width: 70px;
    height: 67px;
    margin: 0 .75em 0 0;
}

#secondary .subpod.free p:before,
#secondary .subpod.sponsored p:before {
    background: url(/Campaigns/Offerpod/Images/c9-complimentary-logo.png) no-repeat;
    width: 59px;
    height: 60px;
    background-size:100%;
}

#secondary .subpod a {
    display: block;
    clear: both;
    margin: 0 auto;
}

#secondary .module { margin-bottom: 0; }

#secondary .module.subpod { margin-bottom: 20px; }

#secondary .module > div {
    /* Show by Default */
    display: block;
    margin: .5em 0;
}



/* =============================================================================
   Content Footer
   ========================================================================== */

footer[role="contentinfo"] {
    padding: 1em 0 6em;
    font-size: 70%;
    line-height: 120%;
    text-align: center;
    border-top: 1px solid #ccc;
}

footer[role="contentinfo"] p { margin-bottom: .15em; }



/* Footer Link Vertical Rules */
footer a:after {
    content: "|";
    display: inline;
    padding-left: .25em;
}

footer p a:last-child:after  {
    content: "";
 }

footer a:hover:after { color: #fff; }


/* =============================================================================
   Ads
   ========================================================================== */

/* Mobile Ad */
.mobile_ad_container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    box-shadow: 0 -1px 12px rgba(0,0,0,.4);
}

footer .ad {
    /*background: url(/static/image/responsive/mobile_ad@1x.jpg) no-repeat;*/
    width: 320px;
    /*height: 50px;*/
    margin: 0 auto;
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

footer .ad:before {
    content: "";
    display: block;
    height: 100%;
}

section .ad {
    /* Hide on Mobile Devices  */
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    right: 0;
}



/* =============================================================================
  Media Queries
================================================================================ */


/*
* Retina Display Media Query to Target HiDPI Devices
* For including high-res graphics, but only for screens that can make us of them. "Retina" being "2x":
* Info: http://css-tricks.com/snippets/css/retina-display-media-query/
*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {


    #site-title a {
        background-image: url(/static/image/responsive/sales_sprite@2x.png);
        background-size: 492px 134px;
    }

    /* HiDPI Mobile Ad */
    footer .ad {
        background: url(/static/image/responsive/mobile_ad@2x.jpg) no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
    }

    #secondary .subpod p:before {
        background-url: url(/static/image/responsive/sales_sprite@2x.png);
        background-size: 492px 134px;
    }


}



@media only screen and (min-width: 480px) {

    /******  Header Section  *******/

    .login-form { display: none; }


    /******  Primary Section  *******/

    #main_cta {
        width: 50%;
        margin: .4em auto 0;
    }

    #intro hgroup h2 { font-size: 180%; }

    #intro hgroup h2 em { display: none; }

    #intro p:nth-child(1) { font-size: 100%; }

    #intro hgroup h4 { display: none; }

    #intro hgroup h3 {
        display: block;
        margin-bottom: .5em;
    }

    /*
     * 1. Hide small introduction
     * 2. Reveal larger introduction
    */

    p#sml_intro { display: none; }

    p#lrg_intro { display: block; }

    /* End introduction display styles */



    /* Secondary Section */

    #secondary .module > div { display: inline; }

    #secondary h4 i { display: none; }

    #secondary h4 {
        cursor: default;
        border-bottom: 1px solid #c8c9cd;
        padding-bottom: .5em;
        margin-bottom: .5em;
    }

    #secondary p {
        width: 100%;
        margin-top: 1em;
    }

    #secondary p:before { margin-top: -1em; }

    #secondary .subpod a { width: 60%; }

    #secondary em {
        font-style: normal;
        display: inline;
        vertical-align: baseline;
        padding: .05em 0 0 .15em;
    }

    /* End Secondary Section */


}



@media only screen and (min-width: 768px) {


    /* Containers */

    .section_container {
      position: relative;
    }


    /******  Header Section  *******/

    header {
        background: #3d434a;
        background: rgba(0,0,0,.75);
    }

    a.button {
        display: inline-block;
        margin: 0;
    }

    nav#large_menu ul:first-child { display: none; }

    /* make space for logo when menu item length increases */
    nav#large_menu {
        margin-left:100px;
    }

    nav#large_menu ul {
        display: block;
        margin-top: 1.25em;
    }


    /* Primary Section */

    /*
     * 1. Add full-width background image to #main for browsers that understand background-size:cover
     * 2. Use a solid color fallback for browsers that don't understand background-size:cover
    */

    #primary {
        width: 100%;
        background: url(/static/image/responsive/main_bg.jpg) no-repeat 0 0;
        padding: 0 0 1em;
        margin-bottom: 1em;
        border-bottom: #fff;

        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
    }

    .no-backgroundsize #primary  { background: #e6f6f6; }

    /* End Conditional Background Image Styles */

    #intro > div { float: left; }

    #intro hgroup h2 { font-size: 200%; }

    #intro hgroup h4 { display: none; }
    #intro hgroup h3 {
        display: block;
        margin-bottom: .5em;
        font-size: 120%;
    }

    p#lrg_intro {
        display: block;
        font-weight: 200;
        font-size: 100%;
        padding-bottom: .25em;
        margin-bottom: 0;
        border-bottom: 1px solid #ccc;
    }

    p.price {
        width: 35%;
        text-align: right;
        display: inline-block;
        margin: .8em 0 0 0;
        font-size: 200%;
    }

    #main_cta {
        width: 60%;
        text-align: left;
        display: inline-block;
    }

    #intro footer {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    /* End Primary Section */



    /* Secondary Section */

    /* Make room for Ad */
    #secondary {
        min-height:250px;
    }

    #secondary h4 i { display: none; }

    #secondary .subpod a {
        float: right;
        display: block;
        width: auto;
    }


    /*
     * 1. Hide mobile ad
     * 2. Display larger ad for larger devices/resolutions
    */

    .mobile_ad_container { display: none; }
    section .ad { display: block; }

    /* End Ad Switch */


    /* End Secondary Section */


    /* Footer Section */

    /*footer[role="contentinfo"] { margin-top: 8em; }*/

    /* End Footer Section */


}



/*
* Retina Display Media Query to Target HiDPI Devices
* For including high-res graphics, but only for screens that can make us of them. "Retina" being "2x":
* Info: http://css-tricks.com/snippets/css/retina-display-media-query/
*/

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 768px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
only screen and (min-resolution: 192dpi) and (min-width: 768px),
only screen and (min-resolution: 2dppx) and (min-width: 768px) {


    /* HiDPI Primary Ad */
    section[role="main"] .ad {
        background: url(/static/image/responsive/ad@2x.jpg) no-repeat;
        -webkit-background-size: 100% 100%;
        -moz-background-size: 100% 100%;
        background-size: 100% 100%;
    }


}



@media only screen and (min-width: 820px) {

    /* Header Section */

    h1#site-title a {
        margin-bottom: .15em;
        height: 45px;
    }

    /* End Header Section */


    /* Footer Section */

    /*footer[role="contentinfo"] { margin-top: 10em; }*/

    footer > p { float: left; }
    footer p:last-child { float: right; }

    /* End Footer Section */





}



@media only screen and (min-width: 980px) {


    /******  Header Section  *******/

    nav#topMenu { display: none; }

    a#login-toggle_btn,
    a#menu-toggle_btn { display: none; }



    /* Primary Section */

    /* Force Sections to conform to same height */
    #primary section { /*height: 330px;*/ }

    #primary section.accessPass { height: auto; }

    #intro h3 { margin-bottom: 1em; }

    p#lrg_intro {
        width: 60%;
        float: left;
        padding-right: 1em;
        padding-top: .75em;
        /*height: 9.25em;*/
        font-size: 90%;
        line-height: 140%;
        border-bottom: 0;
    }

    p.price {
        width: 40%;
        text-align: center;
        display: inline-block;
        margin: .5em 0 .25em;
        font-size: 200%;
    }

    #main_cta {
        width: 36%;
        text-align: center;
        display: inline-block;
        margin: 0 0 1em 1em;
        float: none;
    }

    #intro footer {
        width: 100%;
        display: inline-block;
        margin: 1em 0 0;
        font-size: 100%;
        text-align: center;
    }


    /* Secondary Section */


    #secondary .subpod p {
        float: left;
        width: 70%;
        margin-top: .5em;
        padding-right: 2%;
        font-weight: 200;
        line-height: 140%;
    }

    #secondary p:before { margin-top: -.5em; }

    #secondary .subpod a {
        float: left;
        width: 30%;
        margin: .5em 0 0;
        padding: .75em .5em;
        clear: none;
        font-size: 90%;
    }

    /*
    #secondary .module img {
        display: block;
        float: left;
        width: 10%;
        margin: 0 2% 0 0
    }
    */

    /* End Secondary Section */


    /* Footer Section */

    /*footer[role="contentinfo"] { margin-top: 12em; }*/

    /* End Footer Section */


}


@media only screen and (min-width: 1024px) {


    /* Primary Section */

    #intro hgroup h2 { font-size: 240%; }
    #intro hgroup h3 { font-size: 130%; }
    p#lrg_intro { margin-bottom: .5em; }


    /* Display Content Slider for Laptop Res Only */
    .flexslider,
    .flex-direction-nav,
    .flex-container { display: block; }

    /* End Primary Section */


    /* Adjust Main Section Intro for Full-Width Image Slider */

    #intro.module { padding: 1em 0; }

    #intro.module hgroup,
    #intro.module > p { padding-left: 1em; }


}



@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px),
only screen and (min-resolution: 192dpi) and (min-width: 1024px),
only screen and (min-resolution: 2dppx) and (min-width: 1024px) {


    /* HiDPI Image Slider Nav Icons */
    .flex-direction-nav li a {
        background-image: url(/static/image/responsive/sales_sprite@2x.png);
        background-size: 492px 134px;
    }

}


@media only screen and (max-width: 480px) {

    /* For Devices with a maximum screen width of 480px only:
     *
     * 1. Hide the 'Regular' BGO Unlimited Price from Mobile Users
     * 2. Remove bottom rounded corners from first .module
     * 3. Remove top border on second .module
    */

    /* TODO: remove
    #secondary div:first-child { border-radius: 0; }

    #secondary div:nth-child(2) { border-top: none; }
    */
}


/*
*
* Conditional Fallbacks
*
*/

/* Prevent IE8 From getting tripped up on Conditional Media Query for HiDPI Boingo Logo */
.no-backgroundsize .flex-direction-nav li a { background: url(/static/image/responsive/sales_sprite@1x.png) no-repeat; }
.no-backgroundsize .flex-direction-nav li .next { background-position: -388px 0; }
.no-backgroundsize .flex-direction-nav li .prev { background-position: -356px 0; }

/* =============================================================================
  Alignment
================================================================================ */

.alignleft {
    display: inline;
    float: left;
}

.alignright {
    display: inline;
    float: right;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.left {
    float: left;
    margin-right: .5em;
}

.right { float: right; }

.center { margin: 0 auto; }


/* =============================================================================
   Utility Styles
================================================================================ */

.underline {
    padding-bottom: .25em;
    margin-bottom: .25em;
    border-bottom: 1px solid #ccc;
}

.module {
    padding: 1em;
    background: #fff;
    border-top: 4px solid #d42b1e;

    border-bottom-left-radius: .3em;
    border-bottom-right-radius: .3em;

    -webkit-box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
    box-shadow: 0 1px 4px 1px rgba(0,0,0,.25);
}


/* Price Toggle Styles */

.price-tog {
    float: right;
    /* Revert Inline Elemnt Default styling */
    font-style: normal;
    padding-top: .15em;
}

.price-tog span { float: left; }

.price-tog i {
    float: right;
    padding: .25em 0 0 .5em;
    font-size: 60%;
    font-style: normal;
}

.price-tog b { font-weight: normal; }


/* =============================================================================
   Knockout Styles
================================================================================ */

.knockout {
    color: #fff;
    text-shadow: none;
}

.knockout .underline {
    padding-bottom: .25em;
    margin-bottom: .25em;
    border-bottom: 2px solid #2f3131;
    border-bottom: 2px solid rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 0 0 rgba(255,255,255,.15);
    -webkit-box-shadow: 0 1px 0 0 rgba(255,255,255,.15);
    box-shadow: 0 1px 0 0 rgba(255,255,255,.15);
}



/* =============================================================================
   Non-Semantic Helper Classes
================================================================================ */

/* Kellum Image Replacement Method = http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/ */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.group:before, .group:after { content: ""; display: table; }
.group:after { clear: both; content: '.'; display: block; visibility: hidden; height: 0; }
.group { zoom: 1; display: inline-block; }
* html .group { height: 1%; }
.group { display: block; }
.group { *zoom: 1; }



/* =============================================================================
   Print Styles
   Inlined to avoid required HTTP connection: h5bp.com/r
================================================================================ */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}


/* =============================================================================
   Coming Soon Page
================================================================================ */

section.comingSoon { padding-bottom: 20px;;}

/******************** Non-English *****************************/
a.button,
input[type=button],
input[type=submit] { font-size: 100%; }

.lang_fr a.button,
.lang_fr input[type=button],
.lang_fr input[type=submit] { font-size: 80%; }

#secondary .subpod a { font-size: 80%; }

.lang_fr #secondary .subpod a { font-size: 66%; }

#info ul:nth-child(2) { font-size: 80%; }

#info ul.secondary-font li span { margin-bottom: 10px;}

#intro .flexslider figcaption { width: 117px; }

#info ul.secondary-font li,
#info ul.secondary-font span,
#info ul.secondary-font div { float: left;}

#info ul.secondary-font li { margin-top: 10px;}

#info ul.secondary-font div  {
    width: 230px;
    margin-top: -7px;
    line-height: 1.3em;
}

.lang_zh-TW #info ul.secondary-font div,
.lang_zh-CN #info ul.secondary-font div  { margin-top: 0;}

/******************** Non-English End *****************************/

/******************** English *****************************/
.lang_en secondary .subpod a { font-size: 85%; }

.lang_en #info ul:nth-child(2) { font-size: 80%; }

.lang_en #info ul.secondary-font li,
.lang_en #info ul.secondary-font div { margin-top: 0; }

/******************** English End *****************************/



/*********************** OVERLAY *****************************/

.greyOut,
.interstitialCont {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

}

.greyOut  {
    position: fixed;
    background: rgba(0,0,0, .7);
    display: none;
}


.interstitialCont .module {
    margin: 7% auto 0;
    width: 70%;
    float: none;
    display: block;
    position: relative;
}

.close {
    background: url('/Campaigns/Offerpod/Images/Sponsored/google_offers_interstital_x.png') no-repeat;
    width: 36px;
    height: 36px;
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer;
}

.grey { background-color: #eeeeef; }
